@model SearchViewModel

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<h2 class="text-info"> جستجو</h2>
<br />

<form method="post" asp-action="Index" class="col-12">
    <div class="border backgroundWhite">

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Barcode" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Barcode" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PartNo" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="PartNo" class="form-control" />
            </div>
        </div>
        <div class="form-group row d-flex justify-content-center">
            <div class="col-2">
                <input type="submit" class="btn btn-sm btn-info form-control" name="SubmitButton" value="OK" />
            </div>
        </div>
    </div>
</form>
